body {
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 50;
    color: #000;

    font-family: "Poppins", sans-serif;
}

h1 {
    color: #45a3fa;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}



button {
    color: rgb(0, 0, 0);
    width: 80px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.158);
    border: 2px solid white;
    margin: 5px;

}

i {
    color: #4A9DEC;
    font-size: 20px;
}


.botonBorrarIndividual {
    cursor: pointer;
   
    
}



#input {
    border: 2px solid transparent;
    width: 15em;
    height: 3.0em;
    font-size: 0.9em;
    margin: 0.4em;
    padding-left: 0.9em;
    outline: none;
    overflow: hidden;
    background-color: #e7e7e7;
    border-radius: 10px;
    transition: all 0.5s;
   
    
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

#input:hover,
#input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}


#fechaCumple {
    background-color: rgba(255, 253, 253, 0.281);
    height: 30px;
    width: 180px;  
    border: 2px solid #4A9DEC;
    color: black;  
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    font-size: large;
    display: block;     
}

#fechaCumple:hover,
#fechaCumple:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
  transition: all 0.5s;
}

li {
   
    
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
    
    display: flex;
    justify-content: space-between; 
    
    border-radius: 20px;
    
    
}
.div_li {
    background-color: rgba(0, 157, 248, 0.5); 
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 5px;
   
    
 }
 
 li p {
     margin: 20px;
     color: #000000;
     font-size: 23px;
     position: relative; 
     
 }
 
.div_li button {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.158);
    border: 2px solid white;
    margin: 10px;
    cursor: pointer;
    padding: 1px;
}




.cumple {
    
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #f0f0f0;
    
    border: 2px solid #98a6ce;
    transition: all 0.2s;
    width: 400px;
    font-size: 15px;
    height: 400px;
    display: flex;
    position: absolute;
    margin: 10px 0px 10px 700px
}
.cumple:hover,
.cumple:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.listas {
    background-color: #106bd300;
    display: grid;
    height: 50px;
    grid-template-columns: repeat(3,1fr);
    padding: 2px;
    width: 300px;
    border-radius: 10px;
}

.listas button {
    gap: 8px;
    height: 40px;
    width: 50px;
    border: none;
    background: #fafbfc31;
    border-radius: 14px;
    cursor: pointer;
    color: #000;
    
}





#listaDeTareas {
    height: 400px;  
    width: 400px;   
    overflow-y: auto;
    
    
    padding: 10px;
    position: absolute;
    margin: 96px 0px 100px -350px ; 
   
    border-radius: 20px;
    background: #f5f5f5;
    
    
    border: 2px solid #98a6ce;
    transition: all 0.2s;
    
}




#listaDeTareas::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
    display: none;
  }
  
  #listaDeTareas::-webkit-scrollbar-thumb {
    background-color: #98a6ce;
    border-radius: 20px;
  }

  #listaDeTareas:hover,
  #listaDeTareas:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;}

    #menu {
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 1300px;
        font-size: 40px;
        background-color: transparent;
        border: none;
        color: #98a6ce;
        
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
        display: flex;
    }
    
    .label {
        display: none;
        
        animation: animacion 0.2s ease-in-out;
        opacity: 0;
    }
    
   
    #menu:hover + .label {
        display: flex;
        opacity: 1;
        position: absolute;
        margin-left: 250px;
        
        
    }
    @keyframes animacion {
        0% {
            opacity: 0;
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    #im {
        position: absolute;
        margin-top: 0px;
        margin-left: 1300px;
        font-size: 40px;
        color: #98a6ce;
        transition: color 0.3s ease-in-out;
        
    }
    
    #menu:hover #im {
        color: #ff6b6b; 
    }
    
   

    #calcular{
        border: 2px solid #45a3fa;
        width: 8em;
        height: 3.5em;
        margin: 1em;
        padding-left: 0.9em;
        outline: none;
        overflow: hidden;
        padding: 0.5em;
       
        background-color: #e7e7e7;
        border-radius: 10px;
        transition: all 0.5s;
        
    }

    #calcular:hover{
        border: 2px solid #98a6ce;
        background-color: rgb(255, 255, 255);
    }

    

    .container {
        width: 30em; 
        max-height: auto; 
        margin-top: 20px;
        background-color: #7a7979;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 2px;
        margin-bottom: 20px;
        border: 2px solid #98a6ce;
        position: absolute;
        margin-left: 710px;
        margin-top: 615px;
    }
    
    .calendar {
        width: 110%; /* Ajusta el ancho del calendario */
        max-height: 400px; /* Limitar el tamaño máximo a 400px */
        padding: 20px 15px; /* Reducir el relleno para que ocupe menos espacio */
        background: #fff;
        border-radius: 20px;
        position: absolute;
        margin-top: -10px;
        border: 2px solid #98a6ce;
    }

    .calendar:hover,
    .calendar:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;}
    
    
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  background-color: #ffffffef;
 
}




.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  
}
.calendar .header .btns {
  display: flex;
  gap: 10px;
}
.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar .header .btns .btn:hover {
  background: #45a2fa75;
  color: #ffffff;
  transform: scale(1.05);
}
.calendar .weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.calendar .weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  transition: all 0.3s;
  user-select: none;
}
.calendar .days .day:not(.next):not(.prev):hover {
  color: #fff;
  background: #45a3fa;
  transform: scale(1.05);
}
.calendar .days .day.next,
.calendar .days .day.prev {
  color: #ccc;
}
.calendar .days .day.today {
  color: #fff;
  background: #98a6ce;
}
